<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeandroidauto">

    <application>
        <service
            android:name=".CarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />
    </application>

</manifest>
